.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 200px;
}

.colorPicker {
  width: 2rem;
  height: 1.5rem;
  border: 1px solid rgb(204, 204, 204);
}

.carName {
  height: 2rem;
  min-height: 2rem;
  border-radius: 0.8rem;
  border: 1px solid rgb(204, 204, 204);
  padding: 0.5rem;
}
.carName:focus {
  border: 1px solid #31c111;
  outline: none;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.field span {
  font-size: 0.7rem;
}
